NODE_ENV=development
PORT=3001
DATABASE_URL=postgresql://labuser:local_password_change_me@localhost:5432/products_db
DIRECT_URL=postgresql://labuser:local_password_change_me@localhost:5432/products_db
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001
