NODE_ENV=development
PORT=3003
DATABASE_URL=postgresql://USERNAME:PASSWORD@HOST:5432/auth_db
DIRECT_URL=postgresql://USERNAME:PASSWORD@HOST:5432/auth_db
JWT_SECRET=CHANGE_ME_same_as_root_env
JWT_REFRESH_SECRET=CHANGE_ME_same_as_root_env
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=
