NODE_ENV=development
PORT=3002
MONGODB_URI=mongodb://labuser:local_password_change_me@localhost:27017/orders_db?authSource=admin
PRODUCT_SERVICE_URL=http://localhost:3001
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3002
JWT_SECRET=CHANGE_ME_same_as_root_env
